<div class="flex flex-col w-full gap-4 px-2 pb-2">
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Quem somos?</h2>
      <p>
        Somos meros voluntários preocupados com o urbanismo das cidades. Pessoas
        não diferentes de si. Acreditamos que a cidade é das pessoas e para as
        pessoas. Queremos espaços agradáveis, queremos um futuro sustentável e
        queremos garantir que todo o cidadão, tenha as limitações que tenha,
        consegue viver em dignidade sem se sentir limitado.
      </p>
      <p>
        Acreditamos que os transportes públicos são o melhor meio de transporte.
        Então com animo criamos o Intermodal, plataforma que que direciona à mitigação e promoção de resolução de
        problemas na nossa rede de transportes públicos.
      </p>
    </div>
  </div>
  <div class="carousel carousel-center space-x-4 rounded-box drop-shadow-xl md:self-center">
    <div class="carousel-item">
      <div class="card w-72 bg-base-100 animate-pulse">
        <div class="absolute h-20 bg-blue-500 w-full" />
        <div class="card-body items-center text-center">
          <div class="avatar">
            <div class="w-24 rounded-full ring ring-base-300 ring-offset-base-100 ring-offset-2">
              <img src="/avatars/telles.webp" alt="Tiago Teles" />
            </div>
          </div>
          <h2 class="card-title">Tiago Teles</h2>
          <span class="text-sm">Arrelia juizos</span>
          <p class="text-left">
            Sou aluno de Informática. Trabalho nas componentes visuais do projeto.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card w-72 bg-base-100 ">
        <div class="absolute h-20 bg-green-500 w-full" />
        <div class="card-body items-left">
          <div class="avatar">
            <div class="w-24 rounded-full ring ring-base-300 ring-offset-base-100 ring-offset-2">
              <img src="/avatars/claudio.webp" alt="Cláudio Pereira" />
            </div>
          </div>
          <div>
            <span class="card-title">Cláudio Pereira</span>
            <span class="text-sm">Jovem precariamente dinâmico</span>
          </div>
          <p class="text-left">
            Iniciei este projeto e tento impedir que o Tiago o mate por acidente.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card w-72 bg-base-100 ">
        <div class="absolute h-20 bg-yellow-500 w-full" />
        <div class="card-body items-left">
          <div class="avatar">
            <div class="w-24 rounded-full ring ring-base-300 ring-offset-base-100 ring-offset-2">
              <img src="/avatars/diogo.png" alt="Diogo Baptista" />
            </div>
          </div>
          <div>
            <span class="card-title">Diogo Baptista</span>
            <span class="text-sm">Cartografo</span>
          </div>
          <p class="text-left">
            Gosto de mapas. Os bonecos coloridos fazem-me feliz.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Menções Honrosas</h2>
      <h3 class="text-lg">Fábio Antunes - Dados de suporte</h3>
      <h3 class="text-lg">Nelson Vassalo - Consultância artistica</h3>
      <h3 class="text-lg">Miguel Monteiro - Validação de dados</h3>
      <h3 class="text-lg">Henrique Pereira - Validação de dados</h3>
    </div>
  </div>
</div>
