@tailwind base;
@tailwind components;
@tailwind utilities;


#app{
  background-image: radial-gradient(hsla(var(--bc)/.2) 0.5px,hsla(var(--b2)/1) 0.5px);
  background-size: 5px 5px;
}

:root {
  font-family: "Roboto", sans-serif;
  height: 100%;
  background: #fafafa;
}

@media (max-width: 980px) {
  .leaflet-top {
    margin-top: 90px;
  }
}