@tailwind base;
@tailwind components;
@tailwind utilities;

.tagger {
  border: 1px solid #909497;
}
.tagger input[type="hidden"] {
  /* fix for bootsrap */
  display: none;
}
.tagger > ul {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 4px 0;
  justify-content: space-between;
  box-sizing: border-box;
  height: auto;
}
.tagger ul {
  margin: 0;
  list-style: none;
}
.tagger > ul > li {
  margin: .4rem 0;
  padding-left: 10px;
}
.tagger > ul > li:not(.tagger-new) a,
.tagger > ul > li:not(.tagger-new) a:visited,
.tagger-new ul a,
.tagger-new ul a:visited {
  color: black;
}
.tagger > ul > li:not(.tagger-new) > a,
.tagger li:not(.tagger-new) > span,
.tagger .tagger-new ul {
  display:inline-block;
  padding: 4px 4px 4px 8px;
  background: #B1C3D7;
  border: 1px solid #4181ed;
  border-radius: 3px;
}

.tagger > ul > li:not(.tagger-new) > a>span.label{
  display:inline-block;
}
.tagger li a.close {
  padding: 4px;
  margin-left: 4px;
  /* for bootsrap */
  float: none;
  filter: alpha(100);
  opacity: 1;
  font-size: 16px;
  line-height: 16px;
}
.tagger li a.close:hover {
  color: white;
}
.tagger li:not(.tagger-new) a {
  text-decoration: none;
}
.tagger .tagger-new input {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  padding-left: 0;
  background: transparent;
}
.tagger .tagger-new {
  flex-grow: 1;
  position: relative;
}
.tagger .tagger-new ul {
  padding: 5px;
}
.tagger .tagger-completion {
  position: absolute;
  z-index: 100;
}
.tagger.wrap > ul {
  flex-wrap: wrap;
  justify-content: start;
}

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.3em; vertical-align: super;}
sub { bottom: -0.25em; vertical-align: sub;}

.leaflet-div-icon {
  background: none !important;
  border-radius: 5px !important;
  border: 1px solid blue !important;
}

.score-bubble {
  border-radius: 100px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border: 1px solid black !important;
  font-weight: bold;
}

.score-bubble-perfect {
  background: green;
}
.score-bubble-green {
  background: greenyellow;
}
.score-bubble-yellow {
  background: yellow;
}
.score-bubble-orange {
  background: orange;
}
.score-bubble-red {
  background: red;
}